<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".firebaseApp.FirebaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShadeIt"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.auth.api.signin.v2.automatic_sign_in_enabled"
            android:value="true" />

<!--        &lt;!&ndash; Add this metadata &ndash;&gt;-->
<!--        <meta-data-->
<!--        android:name="com.google.android.geo.API_KEY"-->
<!--        android:value="YOUR_API_KEY"/>-->
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.version"-->
<!--            android:value="@integer/google_play_services_version" />-->

        <!-- Add this line to initialize Firebase -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel" />

        <!-- Add other necessary services and permissions -->
        <service android:name="com.google.firebase.components.ComponentDiscoveryService" android:exported="false">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.firestore.FirestoreRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ShadeIt">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>